<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>My Blog</title>
</head>
<body>

    <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>

<div class="container">

<h1 style="text-align:center;">My Blog 🔥</h1>

<div class="posts">
    <% posts.forEach(post => { %>
        <div class="card">

            <% if (post.image) { %>
                <img src="/uploads/<%= post.image %>">
            <% } %>

            <div class="card-content">
                <h2>
                    <a href="/post/<%= post._id %>">
                        <%= post.title %>
                    </a>
                </h2>

                <p><%= post.content.substring(0, 80) %>...</p>

                <a class="read-more" href="/post/<%= post._id %>">Read More →</a>
            </div>

        </div>
    <% }) %>
</div>

</div>
</body>
</html>